.kpi-block {
    border-radius: 0.3125rem;
    background: rgba(213, 212, 225, 0.26);
}

.kpi-text {
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 1.5625rem */
}

.kpi-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    // align-items: center;
}

.kpi-dashboard-text {
    text-align: left;
    color: #FFF;
    font-size: 1.8125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 1.8125rem */
}

.tick-icon {
    width: 3.0625rem;
    height: 2.68356rem;
    margin-left: 4rem;
}

.kpi-filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.kpi-filter-text {
    margin-left: 2rem;
    margin-top: 2rem;
}

.kpi-filter-text-restore {
    position: absolute;
    right: 1rem;
    top: 2.5rem;
}

.kpi-filter-text-sub {
    margin-left: 2rem;
    margin-top: 5rem;
}

.kpi-ul {
    text-align: left;
    font-size: 0.625rem;
}

.kpi-horizontal-layout {
    display: flex;
    justify-content: space-around;
    width: 100%;
    // align-items: center;
    // gap: 5rem;
}

.kpi-vertical-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.kpi-align-center-text {
    // margin-left: -3rem;
    word-wrap: wrap;
    word-break: break-all;
}

.kpi-mini-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.kpi-main {
    font-family: 'Fira Code', monospace, 'Kalnia', serif;

}

#epsilon-logo {
    width: 6rem;
    height: 2.125rem;
}

.kpi-head {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.kpi-option {
    &:hover {
        cursor: pointer;
        font-weight: 700;
        background-color: transparent;
    }
    &:focus {
        font-weight: 700;
        outline: none;
        background-color: transparent;
    }
    &:focus-visible {
        font-weight: 700;
        outline: none;
        background-color: transparent;
    }
    padding: 0;
    background-color: transparent;
    margin: 0;
    border: none;
    outline: none;
}

.kpi-option-highlighted {
    &:focus {
        font-weight: 700;
        outline: none;
        background-color: transparent;
    }
    &:focus-visible {
        font-weight: 700;
        outline: none;
        background-color: transparent;
    }
    outline: none;
    background-color: transparent;
    font-weight: 700;
    padding: 0;
    margin: 0;
    border: none;
}